
@font-face{
    font-family: myFirstFont;
    src: url('../fonts/Exo2-Regular.ttf');
}
@font-face{
    font-family: myFirstFont;
    font-weight:bold;
    src: url('../fonts/Exo2-Bold.ttf');
}
@font-face{
    font-family: myFirstFont;
    src: url('../fonts/Lato-BoldItalic.ttf');
    font-weight:bold;
    font-style: italic;
}

a{text-decoration:none;}
a img{border:0;}
img{}
ul,ol,dl,dt,dd{margin:0; padding:0;}
li{list-style:none;}
/*
h1,h2,h3,h4,h5,h6{font-weight:normal;}
i,em{font-style:normal;}
b,strong{font-weight:normal;}*/
.clearfix:after{ display:block; content:''; clear:both;}
.clearfix{ zoom:1;}
.fl{ float:left;}
.fr{ float:right;}
.w{ width:1200px; margin:0 auto;}
.head{
    width:100%;
    height:110px;
    background:#002923;
}
.head-nav{
    width:70%;
    margin:0 auto;
}
.nav-left{
    margin-top:20px;
}
.nav-right{
    margin-top:40px;
}
.nav-right ul{

}
.nav-right ul li{
    float:left;
    font-size:15px;
    padding: 0 25px;
    font-size:20px;
    border-right:1px solid #fff;
}
.nav-right ul .on{
    border-right:none;
}
.nav-right ul li a{
    color:#fff;
}
.head-nav ul li .searchlogo{
    background: url(../img/search.png) no-repeat 0 center;
    display: inline-block;
    width: 24px;
    height: 17px;
    margin-top:4px;
    background-size: 100%;
}
/*.nav {
    width:100%;
    height:78px;
    line-height:78px;
    background:#009e96;
}
.nav ul{
    width:70%;
    margin:0 auto;
}
.nav ul li{
    float:left;
    position:relative;
    margin-right:16px;
}
.nav ul li a{
    font-size:16px;
    padding-right:20px;
    color:#fff;
}
.nav ul li .icon{
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid #fff;
    position: absolute;
    top: 50%;
    right:6px;
    margin-top: -3px;
    margin-left: 5px;
}*/
/*å°¾éƒ¨*/
.foot{
    width:100%;
    background: #002923;
    color:#fff;
}
.foot .foot-main{
    padding: 40px 0;
    width:80%;
    margin:0 auto;
    display:flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
}
.foot .foot-main .foot-l{
    padding-right:100px;
    border-right:2px solid #009e96;
}
.foot .foot-main .foot-l .font-18{
    font-size:18px;
    padding-top:50px;
}
.foot .foot-main .foot-r{

}
.foot .foot-main .foot-r .ul-left{
}
.foot .foot-main .foot-r .ul-center{
    margin-left:120px;
}
.foot .foot-main .foot-r .ul-right{
    margin-left:120px;
}
.foot .foot-main .foot-r ul li a{
    color:#fff;
    font-size:14px;
}
.foot .foot-main .foot-r .font24{
    display:block;
    margin:24px 0 24px 0;
    font-size:16px;
}
.foot .footer{
    width:100%;
    border-top:1px solid #009e96;
    margin:0 auto;
    text-align:center;
    padding:20px 0;
    color: #009e96;
}
/*å°¾éƒ¨*/
/* å…¨éƒ¨å¸ˆèµ„*/
.main .loadmore{
    width:100%;
}
.main .loadmore #show{
    /*position:relative;*/
    width:100%;
}
.showmore{text-align: center;}
.showmore a{
    width:300px;
    height:60px;
    margin:40px auto;
    display:flex;
    justify-content: center;
    border-radius: 30px;
    border:3px solid #ccc;
    align-items:center ;
    text-decoration: none;
    font-size:20px;
    color:#ccc;
}
.main .allfen{
    padding:40px 0 20px 0;
}
.main .allfen .vc_btn3-container a{
    color:#009e96;
}

.main .allfen .vc_btn3-container :hover{
    border-bottom: none;
}
.main .ul-list{
    padding-left:30px;
    margin-bottom:40px;
}
.main .ul-list ul li{
    margin-right:10px;
    float:left;
    margin-bottom:10px;
}
.main .ul-list ul .on{
    background:#009e96;
    color:#fff;
}
.main .ul-list ul li a:hover{
    background:#009e96;
    text-decoration: none;
    color:#fff;
}
.main .ul-list ul li a.active{    background:#009e96;
    color:#fff;}
.main .ul-list ul li a{
    text-decoration: none;
    display:inline-block;
    color:#333;
    font-size:14px;
    border-radius:30px;
    background:#f0f0f0;
    padding:4px 10px;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.list-main .list{
    width:33.33%;
    height:170px;
    /*margin-right: 38px;*/
    margin-bottom:40px;
}
.list-main .list:nth-child(3n){
    margin-right:0;
}
.list-main .list .left{
    width:180px;
    height:162px;
}
.list-main .list .left a{
    display:inline-block;
    width:180px;
    height:162px;
    background-size:cover !important;
}
.list-main .list .left img{
}
.list-main .list .right .name{
    font-size: 18px;
    font-weight:bold;
    font-style: normal;
}
.list-main .list .right .p1{
    width:160px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom:15px;
}
.list-main .list .right .p{
    margin-top:15px;
}
.list-main .list .right .p2{
    width:160px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}
.list-main .list .right .p3{
    width:65px;
    color:#ccc;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom:0px;
}
.list-main .list .right .p4{
    width: 90%;
    color:#ccc;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position:absolute;
    left:15px;
    bottom:10px;
}
.list-main .list .right .p3:hover{
    border-bottom:1px solid #ccc;
}
.list-main .list .right{
    width:180px;
    height:155px;
    padding: 20px 15px 0 15px;
    background:#efefef;
    border-bottom:2px solid #009e96;
    color:#000;
    position:relative;
}
.list-main .list .right:hover{
    background:#009e96;
    color:#fff;
    text-decoration: none;
}
/* å…¨éƒ¨å¸ˆèµ„*/
/*é«˜å±‚æ¬¡äººæ‰*/

/*é«˜å±‚æ¬¡äººæ‰*/
/*
 .admission{
    width:100%;
    height:306px;
    background:url(../img/bg2.png) no-repeat center;
    background-size: cover;
}
#moveOne  .admission .admiss-main{
    width:1000px;
}
#moveOne  .admission .admiss-left, #moveOne .admission .admiss-center, #moveOne .admission .admiss-right{
    margin-top:60px;
    width:191px;
    height:191px;
    text-align:center;
    color:#fff;
    font-size:24px;
    border-radius:50%;
    border:2px solid #fff;
}
#moveOne .admission .admiss-center{
    margin-left:200px;
}
#moveOne .admission .admiss-left div, #moveOne .admission .admiss-center div, #moveOne .admission .admiss-right div{
    color:#fff;
    font-size:24px;
}

#moveOne .person{
    width:100%;
}
#moveOne .person .person-child{

}
#moveOne .person .person-child h2{
    font-size:20px;
    font-weight:700;
}
#moveOne .person .person-font{
    color: #333333;
    font-size: 16px;
    line-height: 1.7;
    margin: 0 0 1.5em;
    padding: 0;
    width:766px;
}
#moveOne .person .rate{
    padding:40px 0 80px 0;
    border-bottom:1px solid #ccc;
}
#moveOne .person .rate2{
    padding:80px 0 70px 0;
    border-bottom:none;
}
#moveOne .person .rate ul li{
    width:232px;
    height:128px;
    border-right:1px solid #ccc;
    text-align:center;
    float:left;
}
#moveOne .person .rate2 ul li{
    width:282px;
    height:128px;
    border-right:1px solid #ccc;
    text-align:center;
    float:left;
}
#moveOne .person .rate ul li:nth-last-child(1)
{
    border-right:none;
}
#moveOne .person .rate h3{
    padding:10px 0 0px 0;
    font-size:40px;
    font-weight:bold;
    color:#009e96;
}
#moveOne .person .plan .fl{
    font-size:20px;
}*/
.search-name{
    width:100%;
    height:423px;
    background:url(../img/bg.png) no-repeat center;
    background-size: cover;
    position: absolute;
    left: 0;
}
.search-name .search-left{
    width:1200px;
    margin:0 auto;
    padding:140px 0 46px 0;
    text-align: center;
}
.search-left .shuosuo{
    width:850px;
    height:54px;
    border-radius:50px;
    border:2px solid #ccc;
    margin-left:55px;
}
.search-left .shuosuo input{
    width:460px;
    height:50px;
    font-size:18px;
    margin-left:30px;
    background:rgba(113, 230, 225, 0.1);
    outline: none;
    border:none;
    color:#fff;
}
.search-left .shuosuo .search-list{
    background:rgba(113, 230, 225, 0.1);
}
.search-left .shuosuo a{
    width:274px;
    height:54px;
    margin:-2px -2px 0 0;
    line-height:54px;
    text-decoration: none;
    font-size:18px;
    text-align:center;
    color:#009e96;
    background:#fff;
    border-radius:50px;
}
.search-left .span1{
    width:192px;
    height:54px;
    margin-left:48px;
    line-height:54px;
    text-align:center;
    font-size:14px;
    border-radius:50px;
    border:1px solid #ccc;
}
.plan .fl h2{
    padding:10px 0 10px 0;
    font-size:20px;
    font-weight:bold;
}
#content {
    width:100%;
}
.content-icon .fa{
    display:none;
}
.content-icon .active1{
    display:none;
}
.main .list-main  .list2{
    margin-bottom:36px;
}
.main .list-main .list2:nth-child(4n){
    margin-right:0;
}
#box ul li{
    width: 23%;
    margin: 0 1% 40px 1%;
    float: left;
}
/*#content .main .list-main  ul li:nth-child(4n){*/
    /*margin-right:0;*/
/*}*/
.list-main .list2 .left{
    overflow:hidden;
    width:262px;
    height:196px;
    background-size: cover !important;
}

.content .list-main{
    width:1170px;
    margin:0 auto;
    display:none;
    min-height:400px;
}
#box2 ul li:nth-child(3n) {
    margin-right: 0;
}
.list-main .list2 .left img{
    display:block;
    width:262px;
    height:100%;
}
.list-main .list2 .right .name{
    font-size: 20px;
    text-align: left;
    text-decoration: none;
    font-weight: bold;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.list-main .list2 .right .p{
    width:222px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top:15px;

}

.list-main .list2 .right .p1{
    width:222px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}
.list-main .list2 .right .p2{
    width:222px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}
.list-main .list2 .right .p3{
    color:#ccc;
    width:auto;
    overflow:hidden;
    /*white-space: nowrap;*/
    text-overflow: ellipsis;
    display:inline-block;
    margin-top:15px;
}
.list-main .list2 .right .p4{
    color:#ccc;
    width:auto;
    overflow:hidden;
    /*white-space: nowrap;*/
    text-overflow: ellipsis;
    display:inline-block;
    position:absolute;
    left:15px;
    bottom:20px;
}

.list-main .list2 .right .p3:hover{
    border-bottom:1px solid #ccc;
}
.list-main .list2 .right{
    width:262px;
    height:180px;
    padding: 10px 15px 0 15px;
    background:#efefef;
    border-bottom:2px solid #009e96;
    color:#000;
    transition: all 0.4s ease;
    position:relative;
}
.list-main .list2  a{
    text-decoration: none;
}
.list-main .list2:hover .right{
    background:#009e96;
    color:#fff;
    width: 262px;
    height: 180px;
    text-decoration: none;
    padding: 10px 15px 0 15px;
    border-bottom: none;

}
/*list-main1å¤åˆ¶ä¸Šé¢çš„   */
.main .list-main1  .list2{
    width:262px;
    height:300px;
    margin-right:40px;
}
.main .list-main1  .list2:nth-child(4n){
    margin-right:0;
}
.list-main1 .list2 .left{
    overflow:hidden;
    width:262px;
    height:148px;
}

.content .list-main1{
    display:none;
}
.list-main1 .list2 .left>img{
    display:block;
    width:262px;
    height:100%;
}
.list-main1 .list2 .right .name{
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
}
.list-main1 .list2 .right .p1{
    width:262px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}
.list-main1 .list2 .right .p2{
    width:262px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom:25px;
}
.list-main1 .list2 .right .p3{
    width:40px;
    overflow:hidden;
    color:#ccc;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.list-main1 .list2 .right .p3:hover{
    border-bottom:1px solid #ccc;
}
.list-main1 .list2 .right{
    width:262px;
    height:140px;
    padding: 10px 0 0 20px;
    background:#efefef;
    border-bottom:2px solid #009e96;
    color:#000;
}
.list-main1 .list2 .right:hover{
    background:#009e96;
    color:#fff;
    text-decoration: none;
}

/*ä¸ªäººä»‹ç»*/
/*
.introduce{
    width:100%;
    margin: 0px 0 0 0;
}
.introduce .message-left{
    width:385px;
    height:367px;
}
.introduce-main{
    padding:90px 0 0 0;
}
.introduce .message-left .font{
    margin-left:20px;
    font-size:1.2em;
}
.introduce .message-left span{
    font-size:1.6em;
}
.introduce .message-left .clearfix{
    margin-bottom:6px;
}
.introduce .message-left .img-tou{
    width:300px;
    height:158px;
}
.introduce .message-left .img-tou img{
    height: auto;
    max-width: 100%;
    margin-top:50px;
    vertical-align: top;
}
.introduce  .message-right{
    width:674px;
    height:100%;
}
.introduce  .message-right  .list1{
    border-bottom:1px solid #009e96;
}
.introduce  .message-right  .list1 .fontSize{
    font-size:16px;
    font-weight:bold;
}
.introduce  .message-right  .list1 .p1{
    font-size:16px;
    padding:30px 0 20px 0;
    line-height:30px;
}
.introduce  .message-right  .list1 .p2 ul li{
    font-size:16px;
    line-height:30px;
}
.introduce  .message-right  .list1 .p2 .ul2{
    margin-left:100px;
}
#main .entry-content p{
    padding:30px 0 30px 27px;
    width:674px;
    float:right;
}
#list1>p{
    padding:0 0 30px 0;
}*/

.bk-ground {
    width:100%;
    display:block;
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height:450px;
}







